@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Put Logo In Before:: And ::After */
.logo svg{
    height: 30px;
    width: 150px;

}


nav{
    background-color: #fff;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
}

.nav-links{
    width: 55%;
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}





nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.nav-icons{
    width:100px ;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new-link::after{
    content: "New";
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-left: 5px;
    font-size: 10px;
    padding: 1px 2px;
    color: red;
}

.carousal{
    height: 100vh;
    width: 100%;
    background-image: url(./Images/10_Pro_M.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    
}


.main-text{
    color: #fff;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 180px;
    margin-top: 150px;
}


.main-text h1,h2{
    font-weight: 500;
    font-size: 25px;
}

.main-text h2{
    font-size: 20px;
}

.buy-btn{
    width: 120px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #EFEFEF;
}


.learn-btn{
    width: 120px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: #EFEFEF 1px solid;
    padding: 5px;
    text-decoration: none;
    color: #EFEFEF;
}


.categories{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.categories img{
    height: 150px;
    transition: transform ease-in-out 0.5s;
}

.categories a{
    text-decoration: none;
    color: black;
}


.categories img:hover{
    transform: scale(120%);
}


.products{
    padding: 50px;
    height: 200vh;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    
}

.product:nth-child(2){
    /* grid-column-start: 2;
    grid-column-end: -1; */
    grid-column: 2 / -1 ;
    background-image: url(./Images/8T-L.jpg);
    background-size: cover;
    color: #EFEFEF;
}


.product:first-child{
    background-image: url(./Images/TVY-PC-2022.5.9.jpg);
    background-size: cover;
    color: black;
}

.product:nth-child(3){
    background-image: url(./Images/Y1S-Y1S-Edge-L.jpg);
    background-size: cover;
    color: #EFEFEF;
}

.product:nth-child(4){
    background-image: url(./Images/BudsPro-PC.jpg);
    background-size: cover;
    color: black;
}

.product:last-child{
    background-image: url(./Images/BWZ2-L.jpg);
    background-size: cover;
    color: black;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px 20px 0px;
    text-align: center;
    background-position: center;
    /* Transition Is Pending */
   

}

.product button{
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.product h1{
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.product:hover{
    background-size: 120%;
}


.gallery{
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 20px;
    color: #EFEFEF;
}

.gallery-item{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
    line-height: 40px;
    position: relative;
}

.gallery-item:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}


.gallery-item h1{
    font-size: 25px;
    font-weight: 500;

}

.gallery-item button{
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    color: #EFEFEF;
}

#some-btn{
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    color: #000000;
}

.gallery-item:first-child{
    background-image: url(./Images/image.jpg);
}

.gallery-item:nth-child(2){
    background-image: url(./Images/image_2.jpg);
}
.gallery-item:nth-child(3){
    background-image: url(./Images/L_10Pro_Watch_BWZ2.jpg);
    color: #000000;
}
.gallery-item:last-child{
    background-image: url(./Images/L_RCC.jpg);

}

.testimonials{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.testimoney img{
    height: 60px;
}

#verge{
   height: 40px;
   margin-bottom: 20px;
}

.testimoney{
    display: flex;
    text-align: center;
    width: 350px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 80px;
}

.testimoney p{
    margin-top: 10px;
}

.learn-primary-btn{
    border-bottom: 1px solid #09c ;
    color: #09c;
    margin-top: 10px;
}

.newsletter{
    height: 400px;
    background-image: url(./Images/Subscribe-m.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter h1{
    font-size: 40px;
    font-weight:500;
    margin-bottom: 5px;
}

.newsletter p{
    font-size: 18px;
    margin-bottom: 50px;
}

.newsletter input{
    width: 30%;
    height: 50px;
    background: none;
    border: 1px solid white;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px;
}

.newsletter a{
    color: #EFEFEF;
}


.p-links-container{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.phones{
    height: 100%;
}

.phones ul{
    list-style: none;
    height: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}

.phones li{
    margin-bottom: 20px;
}

.phones a{
    text-decoration: none;
    color: #7a6d6d;
}

.social-media{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
   }

   .social-media ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 50%;

   }

   .social-media ul:last-child{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 20%;
   }

   .social-media a{
    text-decoration: none;
    color: #000000;
   }

   #contact-link{
    color: #09c;
   }


   footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    border-top: 1px solid rgb(101, 101, 101);
    background-color: #f4f2f2;
   }

   footer ul{
    list-style: none;
    display: flex;

   }

footer li{
    margin-left: 20px;
}

footer a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.copyright{
    margin-top: 15px;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

/* Media Query */
@media only screen and (max-width: 960px) {

    .carousal{
        height: 95vh;
    }

   .nav-links{
       display: none;
   }


   .main-text{
       height: 150px;
       margin-top: 350px;
       margin-left: 50px;
   }

   .learn-btn, .buy-btn{
       background: none;
       border: none;
       border-bottom: 1px solid #b5b4b4;
       border-radius: 0;
       color: #EFEFEF;
       padding: 8px;
       font-size: 16px;
       width: 90px;

   }

   .main-text h2{
   color:  #b5b4b4;
   font-size: 18px;
   }


   .products{
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px ;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
   }

   .product:nth-child(2){
       grid-column: 1 / -1;
       grid-row: 1 / 2;
   }

   .product{
       align-items: flex-start;
       justify-content: flex-end;
       height: 200px;
       text-align: left;
      padding: 0;
   }


   .product h1,h2, p{
    font-size: 14px;
    padding-left: 20px;
   }

   .product button{
       margin-left: 20px;
      
   }

   .product span{
       background-color: black;
       width: 100px;
       position: absolute;
   }

   .gallery{
    grid-template-columns: 1fr;
    padding: 25px;
    margin-top: 150px;
   }

   .gallery-item{
    height: 250px;
   }

   .testimonials{
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 80vh;
    height: 900px;
   }


   .testimoney{
    padding: 5px;
   }


   .newsletter h1{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
   }

   .newsletter input{
    width: 60%;
   }

   .newsletter p{
    font-size: 14px;
   }

   .p-links-container{
   display: none;
   }

   .social-media{
    flex-direction: column;
    width: 100%;
    padding: 10px;
   }

   .social-media ul{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
   }

   .social-media ul:last-child{
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
   }

  footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.footer-links{
    flex-direction: column;
  }

  .country{
    margin-bottom: 10px;
  }
  

  }